body {
  background-color: #a8dadc;
}

.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
}

.form-group label,
.form-control,
.btn-primary {
  /* background-color: #1D3557; */
  border-color: #1d3557;
  color: #000;
}

.form-group label {
  margin-bottom: 10px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
}

.form-control {
  background-color: #f1f1f1; /* added background color for input box */
}

.btn-primary:hover {
  background-color: #457b9d;
  border-color: #457b9d;
  color: #ffffff;
}

.btn-secondary {
  background-color: transparent; /* changed to transparent */
  border-color: #ffffff;
  color: #000000;
}

.btn-secondary:hover {
  background-color: #a8dadc;
  border-color: #a8dadc;
  color: #000000;
}

#jmlskenario,
#waktu,
#orang,
#sukses,
#cost {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-left: 0;
}

#noData,
#skenarioLow {
  margin-top: 20px;
  font-size: 34px;
  font-weight: bold;
  color: #000000;
  margin-left: 0;
}

#skenarioLow1 {
  font-size: 14px;
}

.footer {
  margin-top: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
